.pure-g > div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.l-box {
	padding-left: 5em;
	padding-right: 5em;
}
.button-start {
	background: lightgreen; /* this is a green */
}
.button-stop {
	background: orangered; /* this is a maroon */
}
#risposta {
	margin-top: 2em;
}
#operazione {
	font-size: xx-large;
}
#progress table {
	margin-top: 2em;
	background-color: transparent;
	border: 1px solid black;
}
#progress td {
	width: 1em;
}
#progress .done {
	background-color: lightgreen;
}


.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}


